// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: KozGoPr6N-Regular;
    src: url('../fonts/KozGoPr6N-Regular.otf');
}

@font-face {
    font-family: A1MinchoStd-Bold;
    src: url('../fonts/A1MinchoStd-Bold.otf');
}

@font-face {
    font-family: AdobeHandwriting-Ernie;
    src: url('../fonts/AdobeHandwriting-Ernie.woff2');
}


@font-face {
    font-family: UDShinGoNTPro-Bold;
    src: url('../fonts/A-OTF-UDShinGoNTPro-Bold.otf');
}

@font-face {
    font-family: UDShinGoNTPro-DeBold;
    src: url('../fonts/A-OTF-UDShinGoNTPro-DeBold.otf');
    font-weight: normal;
}

@font-face {
    font-family: UDShinGoNTPro-Heavy;
    src: url('../fonts/A-OTF-UDShinGoNTPro-Heavy.otf');
}

@font-face {
    font-family: UDShinGoNTPro-Light;
    src: url('../fonts/A-OTF-UDShinGoNTPro-Light.otf');
}

@font-face {
    font-family: UDShinGoNTPro-Medium;
    src: url('../fonts/A-OTF-UDShinGoNTPro-Medium.otf');
}

@font-face {
    font-family: UDShinGoNTPro-Regular;
    src: url('../fonts/A-OTF-UDShinGoNTPro-Regular.otf');
}

@font-face {
    font-family: Helvetica;
    src: url('../fonts/Helvetica.ttc');
}

@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HelveticaNeue.ttc');
}
@font-face {
    font-family: Helvetica-BoldOblique;
    src: url('../fonts/Helvetica-BoldOblique.ttf');
}