$font_noto: 'Noto Sans JP', sans-serif;
$font_notoserif: 'Noto Serif JP', serif;
$font_notoCJK: 'Noto Sans CJK JP', sans-serif;
$font_kozGoPr6N: 'Kozuka Gothic Pr6N', sans-serif;
$font_kobuGoStdN: 'KoburinaGoStdN', sans-serif;
$font_kumoyaStd: 'KumoyaStd', sans-serif;
$font_hiraKakuPro: 'HiraKakuPro', sans-serif;
$font_suzuStd: 'SuzumushiStd', sans-serif;
$font_anton: 'Anton', sans-serif;
$font_ubuntu: 'Ubuntu';
$font_oswald: 'Oswald';
$font_roboto: 'Roboto', sans-serif;
$font_mukta: 'Mukta', sans-serif;
$font_srisakdi: 'Srisakdi', sans-serif;

$main_color: #0D6FAF;
$base_color: #3E3A39;
$green_color: #169E49;
$orange_color: #FF7100;
$title_color: #4A5778;
$gray_color: #B3B3B3;
$white_color: #FFFFFF;
$pink_color: #FF7BAC;
$red_color: #E60012;
$olive_color: #C3BE71;
$teal_color: #32A7E0;
$purple_color: #B16E9E;
$brown_color: #633E1C;
$black_color: #000000;
$yellow_color: #FCEE21;
$font_color: #00A99D;